html {
    background: transparent url('./../img/admin/layout/bg_html.png') 0 0 repeat-x;
}

/* --- Flash Message --- */
#adminMessage {
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 1px #555;
    color: #FFF;
}
#adminMessage a {
    float: right;
    display: inline;
    text-decoration: none;
}
#adminMessage.warning {
    background: transparent url('./../img/flash_message/bg_warning.png') 0 0 repeat-x;
    border-color: #D5C584;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}
#adminMessage.warning a {
    color: #B3A779;
}
#adminMessage.info {
    background: transparent url('./../img/flash_message/bg_info.png') 0 0 repeat-x;
    border-color: #2E8BA6;
}
#adminMessage.info a {
    color: #2C7C94;
}
#adminMessage.error {
    background: transparent url('./../img/flash_message/bg_error.png') 0 0 repeat-x;
    border-color: #B0352F;
}
#adminMessage.error a {
    color: #AF403B;
    text-shadow: 1px 1px 1px #FFF;
}
#adminMessage.success {
    background: transparent url('./../img/flash_message/bg_success.png') 0 0 repeat-x;
    border-color: #4E974E;
}
#adminMessage.success a {
    color: #4B954B;
}

/* --- Mensagem de Validacao da Model --- */
div.error-message {
    color: #F00;
    font-weight: bold;
}

/* --- Topo --- */
#topo  {
    margin: 2px 0 15px 0;
    padding: 15px;
}
#topo div.esquerda {
    display: inline-block;
}
#topo h2 {
    color: #3B5998;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
    display: inline-block;
}
#topo ul {
    float: right;
    display: inline;
    margin-top: 10px
}
#c-usuarios.a-login #topo ul {
    margin-top: 0;
}
#topo ul li {
    display: inline-block;
    width: auto;
    margin-left: 5px
}
#topo ul li a {
    font-size: 11px;
    padding: 4px 0 4px 22px;
    text-decoration: none;
}
#topo ul li.lang_portuguese a {
    background: transparent url('./../img/admin/layout/icones/pt-br.gif') 0 center no-repeat;
}
#topo ul li.lang_english a {
    background: transparent url('./../img/admin/layout/icones/en-us.gif') 0 center no-repeat;
}
#topo ul li.logout a {
    background: transparent url('./../img/admin/layout/icones/logout.png') 0 center no-repeat;
}

/* --- BreadCrumbs --- */
#breadcrumbs {
    display: block;
    font-size: 11px;
    margin-top: 5px;
    color: #555;
}

/* --- Menu --- */
#menu {
    float: left;
    display: inline;
    width: 125px;
}

/* --- Centro --- */
#centro {
    float: right;
    display: inline;
    width: 760px;
}


/* --- Login --- */
#c-usuarios.a-login div.form_login {
    display: block;
    width: 350px;
    margin: 100px auto;
}
#c-usuarios.a-login div.form_login input {
    width: 150px;   
}


/* --- Rodape --- */
#rodape {
    clear: both;
    margin-top: 15px;
}

/* --- Listagem de itens --- */
table.listagem {
    margin: 15px 0;
    width: 100%;
    /*    -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;*/
}
table.listagem tr th,
table.listagem tr td {
    padding: 2px 0;
    border: 1px solid #333;
}
table.listagem tr th a {
    color: #FFF;
}
table.listagem tr td:first-child {
    padding-left: 4px;
}
table.listagem tr th {
    background-color: #3B5998;
    color: #FFF;
    font-weight: bold;
}
table.listagem tr:nth-child(odd) {
    background-color: #E5F1FF;   
}
table.listagem tr td.centralizado {
    text-align: center;
}
table.listagem tr td.acoes {
    text-align: center;
    width: 180px;
}

/* --- Formularios --- */
#ProdutoCategoriaNome,
#NoticiaCategoriaNome {
    width: 200px;
}

#NoticiaFonte,
#NoticiaTitulo {
    width: 300px;
}

#NoticiaData {
    width: 80px;
}

div.botoes {
    padding-top: 15px;
}