html {
    background: transparent url('./../img/admin/layout/bg_html.png') 0 0 repeat-x;
}

/* --- Flash Message --- */
#adminMessage {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 1px #555;
    color: #FFF;
}
#adminMessage a {
    float: right;
    display: inline;
    text-decoration: none;
}
#adminMessage.warning {
    background: transparent url('./../img/flash_message/bg_warning.png') 0 0 repeat-x;
    border-color: #D5C584;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}
#adminMessage.warning a {
    color: #B3A779;
}
#adminMessage.info {
    background: transparent url('./../img/flash_message/bg_info.png') 0 0 repeat-x;
    border-color: #2E8BA6;
}
#adminMessage.info a {
    color: #2C7C94;
}
#adminMessage.error {
    background: transparent url('./../img/flash_message/bg_error.png') 0 0 repeat-x;
    border-color: #B0352F;
}
#adminMessage.error a {
    color: #AF403B;
    text-shadow: 1px 1px 1px #FFF;
}
#adminMessage.success {
    background: transparent url('./../img/flash_message/bg_success.png') 0 0 repeat-x;
    border-color: #4E974E;
}
#adminMessage.success a {
    color: #4B954B;
}

/* --- Topo --- */
#topo  {
    margin: 2px 0 15px 0;
    padding: 15px;

}
#topo #language {
    float: right;
    display: inline;
}
#topo #language li {
    display: inline-block;
    width: auto;
    margin-left: 5px
}
#topo #language li a {
    font-size: 11px;
    padding-left: 20px;
    text-decoration: none;
}
#topo #language li.portuguese a {
    background: transparent url('./../img/admin/layout/flags/pt-br.gif') 0 center no-repeat;
}
#topo #language li.english a {
    background: transparent url('./../img/admin/layout/flags/en-us.gif') 0 center no-repeat;
}
#topo h2 {
    color: #3B5998;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
    display: inline-block;
}

/* --- BreadCrumbs --- */
#breadcrumbs {
    display: block;
    font-size: 11px;
    margin-top: 5px;
    color: #555;
}

/* --- Menu --- */
#menu {
    float: left;
    display: inline;
    width: 125px;
}

/* --- Centro --- */
#centro {
    float: right;
    display: inline;
    width: 760px;
}


/* --- Login --- */
#c-usuarios.a-login div.form_login {
    display: block;
    width: 350px;
    margin: 100px auto;
}
#c-usuarios.a-login div.form_login input {
    width: 150px;   
}


/* --- Rodape --- */
#rodape {
    clear: both;
    margin-top: 15px;
}

/* --- Listagem de itens --- */
table.listagem {
    margin: 15px 0;
    width: 100%;
}
table.listagem tr th,
table.listagem tr td {
    padding: 2px 0;
    border: 1px solid #333;
}
table.listagem tr th {
    background-color: #3B5998;
    color: #FFF;
    font-weight: bold;
}
table.listagem tr:nth-child(odd) {
    background-color: #E5F1FF;   
}
table.listagem tr td.centralizado {
    text-align: center;
}

