body {
    display: block;
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: Arial, Tahoma;
    font-size: 12px;
    color: #333;
}

p {
    display: block;
    margin-bottom: 6px;
}

h3 {
    border-bottom: 1px solid;
}

/* --- Flash Message --- */
#adminMessage {
    padding: 10px;
    /*margin-bottom: 15px;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 1px #555;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    cursor: pointer;
}
#adminMessage a {
    float: right;
    display: inline;
    text-decoration: none;
}
#adminMessage.warning {
    background: transparent url('./../img/flash_message/bg_warning.png') 0 0 repeat-x;
    border-color: #D5C584;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}
#adminMessage.warning a {
    color: #B3A779;
}
#adminMessage.info {
    background: transparent url('./../img/flash_message/bg_info.png') 0 0 repeat-x;
    border-color: #2E8BA6;
}
#adminMessage.info a {
    color: #2C7C94;
}
#adminMessage.error {
    background: transparent url('./../img/flash_message/bg_error.png') 0 0 repeat-x;
    border-color: #B0352F;
}
#adminMessage.error a {
    color: #AF403B;
    text-shadow: 1px 1px 1px #FFF;
}
#adminMessage.success {
    background: transparent url('./../img/flash_message/bg_success.png') 0 0 repeat-x;
    border-color: #4E974E;
}
#adminMessage.success a {
    color: #4B954B;
}

/* --- Mensagem de Validacao da Model --- */
div.error-message {
    color: #F00;
    font-weight: bold;
}

div.banners {
    display: block;
    text-align: center;
    padding: 15px;
    overflow: hidden;
}
div.banners a {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

/* --- Topo --- */
#topo {
    overflow: auto;
    padding: 10px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
#topo h1 {
    float: left;
}
#topo h1 a {
    /*background: transparent url('../uploads/layout/logo.png') 0 0 no-repeat;*/
    display: block;
    width: 300px;
    height: 120px;    
    text-indent: -1000em;
    overflow: hidden;
}
#topo h2 {
    display: none;
}

/* --- Base --- */
#menu ul {
    background-color: #FFF;
}
#menu ul li ul,
#menu ul li ul li ul, 
#menu ul li ul li ul li ul {
    display: none;
    background-color: #FFF;
}
#menu ul li:hover ul,
#menu ul li:hover ul li ul, 
#menu ul li:hover ul li ul li ul {
    display: block;
    position: absolute;
    z-index: 9999;
}

#menu ul li {
    list-style: none;
}
#menu ul li a {
    text-decoration: none;
}



#menu.esquerda {
    float: left;
    display: inline;
    width: 120px;
    padding: 20px 15px;
}

#menu.topo {
    float: right;
    display: inline;    
    margin: 85px 30px 0 0;
}
#menu.topo ul li {
    display: inline-block;
    padding: 0 4px;
}







#conteudo {
    overflow: auto;
    /*    border-top: none;
        border-left: 1px solid #777;
        border-bottom: none;
        border-right: 1px solid #777;*/
}
#conteudo #wrapper {
    float: left;
    padding: 20px;
    overflow: auto;

}
#conteudo #wrapper.pequeno {
    width: 540px;
}
#conteudo #wrapper.medio {
    width: 700px;
}
#conteudo #wrapper.grande {
    width: 940px;
}

#conteudo #wrapper h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

/* --- Produtos --- */
#wrapper div.produtos ul li,
#c-produtos ul.listagem li {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    padding: 4px;
    margin: 5px;  
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#wrapper div.produtos ul li:hover,
#c-produtos ul.listagem li:hover {
    background-color: #DDD;
}
#wrapper div.produtos ul li a,
#c-produtos ul.listagem li a {
    display: block;
    text-decoration: none;
}
#wrapper div.produtos ul li a small,
#c-produtos ul.listagem li a small {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    font-size: 11px;
}
#c-produtos ul.listagem li a span,
#c-produtos ul.listagem li a strong {
    display: block;
    text-align: center;
    padding-top: 5px;
}
/*#c-produtos ul.listagem li a span {
    padding-top: 5px;
}*/


/* --- Barras Laterais --- */
#barra_lateral {
    float: right;
    display: inline;
    width: 200px;
    padding: 20px 15px;
}
#barra_lateral h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;    
}

#barra_lateral div.noticias,
#barra_lateral div.produtos {
    padding-bottom: 10px;   
}

form.form_busca input {
    width: 130px;
    display: inline-block;
}
form.form_busca div.submit {
    display: inline-block;
    overflow: hidden;
}


#barra_lateral #newsletter input {
    width: 170px;
}

/* --- Formularios --- */
#conteudo p.campos_obrigatorios {
    font-style: italic;
}
#conteudo p.campos_obrigatorios span,
#conteudo form label span {
    color: #F00;
    font-size: 14px;
}
#conteudo form label.error {
    color: #F00;
    font-size: 11px;
}
#conteudo form div.for-spam {
    display: none;
}
#conteudo form label {
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
}
#conteudo form div.input {
    display: block;
    margin-bottom: 8px;
}
#conteudo form div.input input,
#conteudo form div.input textarea {
    width: 250px;
}



/* --- Noticias Barra Lateral --- */
#barra_lateral ul {
    padding: 0;
}
#barra_lateral ul li {
    padding-bottom: 10px;
}
#barra_lateral ul li a {
    text-decoration: none;
    color: #656565;
}
#barra_lateral ul li a:hover {
    color: #3589bA;   
}
#barra_lateral ul li a small,
#barra_lateral ul li a strong {
    display: block;
}
#barra_lateral ul li a small {
    font-size: 11px;
    padding-bottom: 1px;
}
#barra_lateral div.produtos ul li a span {
    display: block;
    padding-top: 1px;
}

/* --- Capa --- */
ul li em,
div a {
    color: #3589bA; 
    text-decoration: none;
}
/*#wrapper div.a-empresa,
#wrapper div.trabalhe_conosco,*/
#wrapper div.noticias {
    display: inline-block;
    width: 45%;
    vertical-align: top;    
}
#wrapper div.esquerda {
    padding-right: 50px;    
}
#c-noticias.a-index #wrapper ul li,
#wrapper div.noticias ul li {
    padding-bottom: 15px;
    overflow: auto;
}
/*#wrapper div.produtos ul li a img,*/
#c-noticias.a-index #wrapper ul li a img,
#wrapper div.noticias ul li a img {
    float: left;
    display: inline;
    margin-right: 6px;
    border: 1px solid #FFF;
}
/*#wrapper div.produtos ul li a:hover img,*/
#c-noticias.a-index #wrapper ul li a:hover img,
#wrapper div.noticias ul li a:hover img {
    border: 1px solid #3589bA;
}
#wrapper div.a-empresa a,
#c-noticias.a-index #wrapper ul li a,
#wrapper div.noticias ul li a {
    text-decoration: none;
    color: #656565;
}
/*#wrapper div.produtos ul li a:hover,*/
#wrapper div.a-empresa a:hover,
#wrapper div.noticias ul li a:hover,
#c-noticias.a-index #wrapper ul li a:hover {
    color: #3589bA;   
}
#c-noticias.a-index #wrapper ul li a small,
#wrapper div.noticias ul li a small {
    display: block;
    font-size: 11px;
}
#c-noticias.a-index #wrapper ul li a strong,
#wrapper div.noticias ul li a strong {
    display: block;
    font-weight: bold;
    padding: 4px 0;
}
#c-noticias.a-index #wrapper ul li span,
#c-noticias.a-index #wrapper ul li em,
#wrapper div.noticias ul li a span, 
#wrapper div.noticias ul li a em {
    display: block;
}
#c-noticias.a-index #wrapper ul li a em,
#wrapper div.noticias ul li a em {
    padding-top: 2px;
    text-align: right;
}

#wrapper div.a-empresa a {
    float: right;
    padding-top: 2px;
    color: #3589bA;
}

#wrapper div.direita {
    width: 45%;
    padding: 0;
    margin: 0;
    display: inline-block;
}
#wrapper div.direita div {
    display: block;
    padding-bottom: 15px;
    overflow: auto;
}
#wrapper div.produtos {
    display: block;
    clear: both;
}
/*#wrapper div.produtos ul {
    height: 165px;
    overflow: hidden;
}*/
#wrapper div.produtos ul li { 
    width: 102px;
    padding: 2px;
    margin: 3px;
}
/*
#wrapper div.produtos ul li {
    display: inline-block;
    width: 102px;
    padding: 5px 6px;
    text-align: center;
    height: 150px;
    vertical-align: top;
}
#wrapper div.produtos ul li a {
    color: #656565;
}
#wrapper div.produtos ul li small,
#wrapper div.produtos ul li strong,
#wrapper div.produtos ul li span {
    display: block;
    text-align: center;
}*/

#wrapper div.trabalhe_conosco img {
    float: left;
    margin-right: 4px;
}
#wrapper div.trabalhe_conosco p {
    margin-bottom: 15px;
    padding-top: 18px;
}


/* --- Noticias - Ver --- */
#c-noticias.a-ver #wrapper h3 {
    padding-top: 8px;
}
#c-noticias.a-ver #wrapper p.fonte {
    padding: 10px 0;
    color: #555;
    font-style: italic;   
    clear: both;
}
#wrapper .galeria {
    clear: both;
}
#conteudo #wrapper div.galeria h3 {
    font-size: 18px;
    border-bottom: none;
}
div.galeria ul li {
    display: inline-block;
    padding: 0 5px 5px 5px;
}
div.galeria ul li a img {
    border: 1px solid #DDD;   
}
div.galeria ul li a:hover img {
    border: 1px solid #3589bA;;   
}

#wrapper a.ver_mais {
    display: block;
    clear: both;
    margin-top: 20px;
}




/* --- Contato --- */
#c-pages.a-contato #conteudo form {
    float: left;
    display: inline;
    width: 280px;
} 
#c-pages.a-contato #conteudo #direita {
    float: right;
    display: inline;
    width: 300px; 
}
#mapa {
    display: block;
    width: 100%;
    height: 200px;
}

/* --- Rodape --- */
#rodape {
    clear: both;
    height: 80px;
    padding: 20px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}


/* --- Produto - Ver --- */
#c-produtos.a-ver #wrapper div.informacoes {
    padding: 15px 0;
    overflow: auto;
}
#c-produtos.a-ver #wrapper div.informacoes img {
    float: left;
    display: inline;
    margin-right: 15px;
    border: 1px solid #DDD;    
}
#c-produtos.a-ver #wrapper div.informacoes span {
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    display: block;
}
#c-produtos.a-ver #wrapper div.galeria {
    padding-top: 20px;
}

#wrapper span.categoria {
    display: block;
    padding: 0 0 10px 0;
}