
/* --- Instalador --- */
#c-instalador {
    width: 450px;
}

#c-instalador.a-criarUsuarioAdmin {
    width: 570px;
}

#conteudo {
    overflow: auto;
}

form {
    display: block;
    padding: 0 20px;
}

form fieldset input {
    width: 300px;   
}

div.botoes {
    margin-bottom: 20px;
    display: block;
    overflow: auto;
}

/* --- Wizard --- */
#c-wizard {
    width: 500px;
    
}

fieldset.passo_2,
fieldset.passo_3 {
    display: none;
}