
/* --- Instalador --- */
#c-instalador {
    width: 580px;
}

#c-instalador.a-criarUsuarioAdmin {
    /*width: 700px;*/
}

#wrapper {
    float: left;
    display: inline;
    width: 450px;
}

#conteudo {
    overflow: auto;
}

p.campos_obrigatorios {    
    padding-left: 20px; 
}

form {
    display: block;
    padding: 0 20px;
}

form fieldset input {
    width: 300px;   
}

div.botoes {
    margin-bottom: 20px;
    display: block;
    overflow: auto;
}

/* --- Wizard --- */
#c-wizard {
    width: 630px;

}

fieldset.passo_2,
fieldset.passo_3 {
    /*display: none;*/
}


/* --- Menu dos Passos --- */
#menu_passos {
    float: right;
    display: inline;
    width: 125px;
    margin: 50px 0 0 0;
}

#menu_passos li {
    margin: 15px 0;
    height: 20px;
    /*    width: 20px;*/
    display: block;
    padding: 5px;

} 
